.week-item {
  margin-bottom: 10px;
}

.day-card {
  font-size: 12px;
  width: 120px;
  // display: flex;
  // flex-direction: column;

  .day-title {
    font-weight: bold;
  }

  .time-line {
    max-height: 30px;
    font-size: 10px;
  }

  .masters-groups {
    padding: 0px;
  }

  .masters-line {
    font-size: 12px;
    width: 100px;
    padding: 0px;
  }

  .orders-line {
    padding: 0px;
  }
}
