<form [formGroup]="masterForm" (submit)="addMaster()">
  <mat-input-container class="master-form">
    <mat-hint>New master</mat-hint>
    <input required placeholder="Name" matInput formControlName="masterInput">
  </mat-input-container>
  <button color="primary" mat-raised-button>Add</button>
</form>
<div class="masters-container">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="workingDays">
      <mat-header-cell *matHeaderCellDef>Working Days</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <form [formGroup]="workDayForm">
          <mat-checkbox 
              color="primary" 
              *ngFor="let day of weekDays; let i = index;" 
              [checked]="element.workingDays.includes(i)"
              [formControlName]="day">
            {{ day }}
          </mat-checkbox>
          <button 
              color="primary" 
              mat-raised-button 
              (click)="onUpdate(element.id)">
            Update
          </button>
          <button 
              color="primary" 
              mat-raised-button 
              (click)="onDelete(element.id)">
            Delete
          </button>
        </form>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
