.week-container {
  display: flex;
  flex-diretion: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.week-item {
  // margin: auto;
  padding: 10px;
}

.week-grid {
  max-width: 800px;
}

.day-card {
  font-size: 12px;
  width: 120px;
  // display: flex;
  // flex-direction: column;

  .day-title {
    font-weight: bold;
  }

  .time-line {
    max-height: 20px;
    font-size: 10px;
  }

  .masters-line {
    font-size: 12px;
  }
}

