.menu-container {
  display: flex;
  flex-diretion: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .menu-item {
    padding: 10px;
  }
}

.week-container {
  display: flex;
  flex-diretion: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .week-item {
    // margin: auto;
    padding: 10px;
  }
}

.day-card {
  font-size: 12px;
  width: 120px;
  // display: flex;
  // flex-direction: column;

  .day-title {
    font-weight: bold;
  }

  .time-line {
    max-height: 30px;
    font-size: 10px;
  }

  .masters-groups {
    padding: 0px;
  }

  .masters-line {
    font-size: 12px;
    width: 100px;
    padding: 0px;
  }

  .orders-line {
    padding: 0px;
  }
}

