<div class="menu-container">
  <div class="menu-item">
    <app-dashboard-slider (slide)="slide($event)"></app-dashboard-slider>
  </div>
  <div class="menu-item">
    <app-dashboard-filter></app-dashboard-filter>
  </div>
  <div class="menu-item">
    <mat-accordion>
      <mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Login to control you orders
					</mat-panel-title>
				</mat-expansion-panel-header>
				<app-auth></app-auth>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<app-dashboard-days [currentWeekFirstDay]="currentWeekFirstDay"></app-dashboard-days>
