<div class="menu-container">
  <div class="menu-item">
    <app-dashboard-filter></app-dashboard-filter>
  </div>
  <div class="menu-item">
    <mat-accordion>
      <mat-expansion-panel>
	<mat-expansion-panel-header>
	  <mat-panel-title>
	    Login to control you orders
	  </mat-panel-title>
	</mat-expansion-panel-header>
	<app-auth></app-auth>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="week-container">
  <div class="week-item" *ngFor="let day of weekDays; let i = index">
    <mat-card class="mat-elevation-z8 day-card">
      <mat-card-header>
	<mat-card-title class="day-title">
	  {{ day }}
	</mat-card-title>
      </mat-card-header>
      <mat-list role="list">
	<mat-list-item role="listitem">
	  <mat-radio-group [(ngModel)]="selectedMasterId" class="day-card masters-group">
	    <mat-radio-button 
		*ngFor="let master of getMasters(i); let im = index" 
		color="primary"    
		[checked]="(im === 0) ? true : false" 
		[name]="i"
		[value]="i">
	      {{ master }}
	    </mat-radio-button>
	  </mat-radio-group>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item 
	    role="listitem" 
	    class="day-card time-line" 
	    *ngFor="let hour of workHours; let hourId = index">
	  <button 
	      class="orders-line" 
	      color="primary" 
	      [disabled]="false"
	      (click)="openDialog(i,hourId,im)"
	      mat-button>
	    {{hour}}:00 {{ (true) ? "Order" : "" }}
	  </button>
	</mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
