<mat-card>qqqqq</mat-card>
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container *matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.position }}</mat-cell>
    </ng-container>
    <ng-container *matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>nn</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <ng-container *matColumnDef="time">
      <mat-header-cell *matHeaderCellDef>t</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.time }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<router-outlet></router-outlet>