<mat-toolbar color="primary"></mat-toolbar>
<!-- <mat&#45;card> -->
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <app-dashboard-filter></app-dashboard-filter>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-accordion>
	<mat-expansion-panel>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      Login to control you orders
	    </mat-panel-title>
	  </mat-expansion-panel-header>
	  <app-auth></app-auth>
	</mat-expansion-panel>
      </mat-accordion>
    </mat-grid-tile>
  </mat-grid-list>
<!-- </mat&#45;card> -->
<app-dashboard></app-dashboard>
