<form [formGroup]="userForm" (submit)="addUser()">
  <mat-form-field class="user-form">
    <input required name="username" placeholder="Username" matInput formControlName="usernameInput">
  </mat-form-field>
  <mat-form-field class="user-form">
    <input required name="password" placeholder="Password" type="password" matInput formControlName="passwordInput">
  </mat-form-field>
  <mat-form-field class="user-form">
    <input required name="user" placeholder="Name" matInput formControlName="userInput">
  </mat-form-field>
  <mat-form-field class="user-form">
    <input name="phone" placeholder="Phone" matInput formControlName="phoneInput">
  </mat-form-field>
  <button color="primary" mat-raised-button>Add</button>
</form>
<div class="users-container">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="role_id">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let element">
	<form [formGroup]="userRoleForm">
	  <mat-checkbox 
	      color="primary" 
	      *ngFor="let role of roles; let i = index" 
	      [formControlName]="role"
	      [name]="role"
	      [checked]="element.role_id === i">
	    {{ role }}
	  </mat-checkbox>
	</form>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
